.main {
  align-content: center;
  background-color: rgb(243, 243, 243);
  display: flex;
  height: 700px;
  justify-content: center;
  width: 100%;
}

.header {
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  width: 850px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.link1 .link2 .link3 {
  align-content: center;
  border: solid black 2px;
  display: flex;
  width: 500px;
}
